@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('./assets//fonts//PretendardVariable.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}